﻿
/*
essential styles:
these make the slideshow work
*/

/* slides is a class on the <ul> */
.slides {
  position: relative;
  /* you need this height property WITH vh units to claim the area on the dom that the slides takes up to push down the rest of the elements like the footer  */
  height: 70vh;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  /* background-color: lightgreen; */
  /* border: 3px solid red */
}

/* slide is a class on the <li> */
/* this determines the images size */
/* this locks the slide in place relative to the parent '.slides' */
/* this causes fade-out effect on an element by transitioning the opacity to total invisibility */
.slide {
  position: absolute;

  left: 0px;
  /* this keeps the images located at the top of the list */
  top: 0px;
  width: 100%;
    /* you need this height property to match the amount of space the slide takes up */
  height: 100%;
 
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
   /* border: 3px solid   pink  */
}

#slideshow-link {
  color: rgb(0,0,255);
}
#images-link {
  color: rgb(0,0,255);
}
#portfolio-link {
  color: rgb(0,0,255);
}
#about-link {
  color: rgb(0,0,255);
}
#Contact-link {
  color: rgb(0,0,255);
}

/* this causes fade-out effect on an element by transitioning the opacity to total invisibility */
.dimSpinner {
  opacity: 0;
  z-index: 0;

  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  margin: 5px;
  padding: 5px;
}

/* this causes fade-out effect on an element by transitioning the opacity to partially visible */
.dimNavLink {
  opacity: .1;
  z-index: 1;

  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  margin: 5px;
  padding: 5px;
}


/* this causes fade-out effect on an element by transitioning the opacity to partially visible */
.dimSignupSubmit {
  opacity: .2;
  z-index: 1;

  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  margin: 5px;
  padding: 5px;
}

/* this causes fade-in effect on an element by transitioning the opacity to fully visible */
/* i don't know how it decides the speed to do it */
/* i don't know how z-index figures in here */
.showing {
  opacity: 1;
  z-index: 2;
}

.aboutImage {
  max-height: 60vh;
  min-width: 45vh;
  object-fit: cover;
  vertical-align: bottom;
} 

/*This will display a smaller, centered image*/
/* I abandoned using this! Huge troubles when I changed screen sizes into the mobile range */
/* Instead, I replaced className="ssimage" with className='responsive' */
/* .ssimage {
  max-height: 60vh;
  min-width: 45vh;
  object-fit: cover;
  vertical-align: bottom;
} */

/*https://www.w3schools.com/howto/howto_css_image_responsive.asp*/
/* this makes it size and scale perfectly vertically or horizontally */
.responsive {
  max-width: 100%;
  max-height: 100%;
}

/* ************************************************************************* */
/* this was used for my bio, but I abandoned using this! ugly. */
/* aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} */

/* The "show" class is added to the filtered elements */
/* The "inline" property is what puts the PorfolioNavBtns on the same line */
.show {
  display: inline;
}

.hide {
  display: none;
}

.controls {
  margin: 10px;
}

/* Style the portfolio buttons, margin spaces the buttons apart */
.btn {
  margin: 2px;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: lightgreen;
  cursor: pointer;
}

  /* Add a grey background color on mouse-over */
  .btn:hover {
      background-color: #ddd;
  }

  /* Add a dark background color to the active button */
  .btn.active {
      background-color: #666;
      color: white;
  }


/* ******  this block makes the portfolio screen start working, but then in slide show js I need the code to scoot down the signup form   ***************  */
/* ******  I believe this is what determines the flex container (as UL)    ***************  */
ul.no-bullets {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0vh;
  padding: 0;
  border: 0;
  border-color:black;
  justify-content: left;
}

/* Add padding BETWEEN each column (if you want) */
li.portfolio.column {
  padding: 5px;
}

/* this controls the size of the portfolio thumbnails  */
li.portfolio {
  height: 15vh;
/*     got rid of this and things much improved
   flex: 1 1 auto;    
  flex: 1; */
}



/* this controls the size of the slide show images  */
/* li.slideshow {
  height: 80%;
}
*/

/* this one gives nice thin margins uniformally  between images */
.portfolioImage {
  max-height: 100%;
  min-width: 35%;
  object-fit: cover;
  vertical-align: bottom;
}


/* this one gives heavy margins between images */
/* .portfolioImage {
  max-height: 90%;
  min-width: 45%;
  object-fit: fill;
  vertical-align: bottom;
} */


/* *********************  */



/* This is how to get the image text to appear on mouse over */
/* The overlay effect - lays on top of the container and over the image */
/* absolute will left justify, relative will center the text */
/* bottom places text downward with negatives, upwards with positives */
.portfolioOverlay {
  position: relative;
  bottom: 3vh;
  width: -10vh;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 1vh;
  font-family: Arial,Helvetica,sans-serif;
  padding: 0%;

  /* text-align: center; */
}

/* This is how to get the image text to appear on mouse over */
/* The overlay effect - lays on top of the container and over the image */
/* absolute will left justify, relative will center the text */
/* bottom places text downward with negatives, upwards with positives */
.slideshowOverlay {
position: relative;
bottom: 3vh;
width: -10vh;
transition: .5s ease;
opacity: 0;
color: white;
font-size: 2vh;
font-family: Arial,Helvetica,sans-serif;
padding: 0%;

/* text-align: center; */
}

div.breakword.portfolioOverlay {
word-wrap: break-word;
}

/* this makes the image description text closer together when a word wrap occurs */
li {
line-height: 10px;
}

/* When you mouse over the container, fade in the overlay title */
.imageDescription:hover .slideshowOverlay {
  opacity: 1;
}
/* When you mouse over the container, fade in the overlay title */
.imageDescription:hover .portfolioOverlay {
opacity: 1;
}

.copyrightDescription {
  position: relative;
}


.navheader{        
  margin-top: 15px;     
  font-size: 18px;       
  color :black !important;        
  background-color: #b3beca!important        
}     
.btnspace    
{    
margin: 15px;    
} 
hr.set-hr-width {
  border-top: 3px solid brown;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 1hv;
  padding-right: 1hv;
}

/* Override the default bootstrap behavior where horizontal description lists 
 will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-y: scroll; 
}

/* go to https://www.w3schools.com/css/css_align.asp to see how to align stuff */
/* this is being used to center images */
/* this is determines the size width of the li, it needs to be wide enough for the widest images to center inside of */
.showOutline {
  border: 3px solid #73AD21;   
}
/* navigation header links margin spaces the links further apart */
.photography-nav {
  margin: 5px;
  flex: 33.33%;
  padding: 5px;
}


.hasError {
  border: solid 2px red;
}
/* this is what it takes to get two divs to be side by side! */
.signup-inline-block-child {
display: inline-block;
/* background-color: yellow; */
 vertical-align: top; /* here */
}
/* this is what it takes to get two divs to be side by side! */
.about-inline-block-child {
display: inline-block;
/* background-color: yellow; */
 margin: 35px;
 vertical-align: top; /* here */
}

.left-align-text {
text-align: left;
margin: 35px;
}

.customLegend1 {
  border: 1px solid black;
  padding: 2em 0 1em;
  margin-top: 2em;
  position: relative;
  margin: 35px;
  width: 35em;
}

  .customLegend1 legend {
      border: 0;
      background: lightgrey;
      width: auto;
      transform: translateY(-50%);
      position: absolute;
      top: 0;
      left: 1em;
      padding: 0 .5em;
  }

.customLegend2 {
  border: 1px solid black;
  padding: 2em 0 1em;
  margin-top: 2em;
  position: relative;
  margin: 35px;
  width: auto;
  vertical-align: top; /* here */
}

  .customLegend2 legend {
      border: 0;
      background: lightgrey;
      width: auto;
      transform: translateY(-50%);
      position: absolute;
      top: 0;
      left: 1em;
      padding: 0 .5em;
  }

label {
  float: left;
  width: 25%;
  margin-right: auto;
  padding-top: 0.2em;
  text-align: right;
  font-weight: bold;
  font: 80%/1 sans-serif;
}

.validation-message {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #A90000;
  color: #FFFFFF;
  font-weight: bold;
}

.eventmessages {
  padding: 11px;
}


.mymodal  {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-right: auto;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

body {
  background-color: lightgrey;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */


/* For mobile phones: */
[class*="col-"] {
width: 80%;
}

@media only screen and (min-width: 600px) {
/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

 /* body {
  background-color: yellow;
}  */
/* looks good on tablet */

}
/* original */
.modalImage {
  max-height: 60vh;
  min-width: 45vh;
  object-fit: cover;
  vertical-align: bottom;
}

.loader1 {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid brown;
  border-bottom: 16px solid brown;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


.signUpSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: 10px 0 0 10px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* looks bad on mobile devices */
.modalImagex {
  max-height: 600px;
  max-width: 80%;
  height: auto;
}
@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

 /* body {
   background-color: red;
}  */
 /* looks good on desktop */
 
}


